/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


body {
    background-color: #F5F5F5;
    background-image: url('../images/weave.png');
    background-repeat: repeat;
    
}

article ol,ul {
    list-style-position:  inside;
}

footer {
    background-color: #FFFFFF;
}

.jumbotron {
    background-color: #FAA523;
    background: linear-gradient(45deg, #B24926 0%, #FAA523 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
    text-align: left;
    color: #FFFFFF;
    padding: 20px 0px 20px 20px;

}

.jumbotron h1 {
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    color: #FFFFFF;
    margin-bottom: 0.3em;
    font-size: 2em;
}

.jumbotron p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.25;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


