/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


body {
    background: #F7FBFD;
    
}

.footer-padding  {
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-bar {
    margin-bottom:20px;
}

.short-header {
    background: none repeat scroll 0 0 #2AA3C7;
    margin:0px;
}

.headline-down {
    padding: 42px 0 0px;
}

.main-headline h2 {
    color: white;
    font-size: 35px;
    font-weight: bold !important;
    margin-bottom: 0;
    padding: 0px;
}

.content {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.blog-category-heading {
    border-bottom: 1px dotted #CCCCCC;
    padding: 0px 10px;
}

article ol,ul {
    list-style-position:  inside;
}

div.number {
    background-color: #BFE4EF;
    border-radius: 125px 125px 125px 125px;
    height: 60px;
    margin: 0 10px 10px;
    padding-top: 10px;
    text-align: center;
    width: 60px;
}
div.number span {
    color: #2BA6CB;
    font-size: 24px;
    font-weight: bold;
}

.post_list {
  list-style: none;   
}

li.top {
    border-bottom: 0 solid #EFEFEF;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 30px;
}

li.top h4.subheader {
    margin-bottom: 0 !important;
}

li.top p {
    margin-bottom: 0 !important;
}

li.top p span {
    color: #777777;
    font-size: 12px;
    line-height: 11px !important;
}

li.top hr {
    margin: -5px 0 5px;
}

pre.php {
    background-color:#F5F5F5;
    padding-top:10px;
    padding-bottom: 10px;
}

